:root{
    --almostwhite:hsl(0, 0%, 98%) ;
    --mediumgrey: hsl(0, 0%, 41%);
    --almostblack: hsl(0, 0%, 8%);
}
*{
    box-sizing: border-box;
    margin: 0;
    
    
}
body{
    max-width: 1440px;
    font-size: 18px;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    display: grid;
    place-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
    
}
.attribution{
    padding-top: 3px;
}


.container{
    max-width: 1440px;
    width: 100%;
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    background: var(--almostwhite);
    margin-right: auto;
    margin-left: auto;

}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1440px;
    padding-top: 1rem;
    position: sticky;
    
}
.header__img{
    padding-right: 4rem;
    
}

.navbar__menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    justify-content: flex-start;
    width: 100%;
    justify-content: space-between;

}
ul.nav{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
ul.nav li{
    padding-right: 3vw;
}
.head{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 6px;
}
p img{
    height: 6px;
    display: flex;
    justify-self: center;
    align-self: center;
}
.navbar__action{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 0;
    max-width: fit-content;
    gap:2rem;
    
}

#btn__register{
    border: 2px solid var(--mediumgrey);
    padding: 0.5rem;
    border-radius: 0.5em;
    margin-top: -0.5rem;
    
}
#btn__register:hover{
    border: 2px solid var(--almostblack);
}
header a{
    text-decoration: none;
    color: var(--mediumgrey);
}
header a:hover{
    color: var(--almostblack);
    cursor: pointer;
}
header p:hover{
    color: var(--almostblack);
    cursor: pointer;
}

li{
    list-style: none;
    color:var(--mediumgrey);   
}
.features__container{
    padding: 1rem 0 .4rem 0; 
    align-items: center;
    background: white;
    border-radius: 1em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 1rem;
    position: absolute;
    left:10vh;
    margin-right: none;
    transform: scaleY(0);
    
}
.features__container ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    padding-left: 1.5rem;   
}



.features__container.active{
    transform: scaleY(1);
}


li.features__item{
    padding-bottom: 0.75rem;
    padding-right: 0;
    margin-right: 0;
    
}
.ftr{
    padding-right:0.5rem ;
}
.company__container{
    padding: 1rem 0 .4rem 0;   
    background: white;
    border-radius: 1em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 1rem;
    position: absolute;
    left:35vh;
    transform: scaleY(0);
}
.company__container ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 0;
}
.company__container.active{
    transform: scaleY(1);
}
.company__item{
    padding-bottom: 0.75rem;
}

.main__container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding:3rem 5rem 0rem 6rem;
    margin-bottom: 5rem;
    
}
.hero{
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column; 
    max-width: max-content;   
    justify-content: space-between;
    max-height: 100%;
       
}

.hero h1{
    padding-top: 7rem;
    font-size: 75px;
}
.hero p{
    padding-right: 10rem;
    font-size: 18px;
    color: var(--mediumgrey);
}
.img__container{
    
    display: flex;
    justify-content: center;
    width: 700px;
    

}
.hero button{

    display: flex;
    max-width: fit-content;
    border: 2px solid var(--almostblack);
    padding: .8rem 1.5rem .8rem 1.5rem;
    border-radius: .7em;
    color: var(--almostwhite);
    background: var(--almostblack);
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
    
}
.hero button:hover{
    cursor: pointer;
    background: var(--almostwhite);
    color: var(--almostblack);
    font-weight: 600;
}
.clients {
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    gap: 3rem;
    align-items: flex-end;
    height: fit-content;
    width: 100%;
    margin: none;
    padding: 0;
    margin-bottom: none;
   
}

#img1 {display:block;}
#img2 {display:none}

.img__container img{
    display: block;
    object-fit: cover;
    width: 100%;

    
}

.head img#arrow1.rotate{
    rotate: 180deg;

}
.head img#arrow2.rotate{
    rotate: 180deg;

}

@media screen and (max-width: 1440px) {
    .container{
        max-width: 1440px;
        width: 100%;
    }
       
}
@media screen and (max-width: 960px) {
    .container{
        max-width: 960px;
        width: 100%;
        height: 100vh;
    }
    .navbar__menu{
        font-size: 17px;
        padding-top: 5px;
        
    }
   
    .main__container{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: flex-start;
        padding:3rem .5rem 0 .5rem;
        margin-bottom: 5rem;
        gap:2.1rem;
    }
    .hero h1{
        font-size: 50px;
    }
    .hero p{
        padding-top: 0;        
        font-size: 16px;
        padding-right: 5rem;
    }
    .hero button{
        font-size: 16px;
    }
    
    .clients {
    
        gap: 1rem; 
        height: auto;
        width: 100%;
       
    }
    .img__container{
    
        display: flex;
        justify-content: center;
        width:fit-content;
        height: auto;
            
    }    
    
}
@media screen and (max-width: 375px){
    body{
        margin: none;
        padding: 0;
        width: 375px;  
          
        
    }
    .container{
        width: 100%;
        max-width: 375px;
        display: flex;
        flex-direction: column;
        margin: none;
        padding: 0;
        height: 750px;
        margin-bottom: 2rem;
               
    }
    .header__img{
        padding-left: 1rem;
    }
    

    .main__container{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        width: 100%;
        max-width: 375px;
        padding: 0;
        margin: none;
        gap: 2rem;
        padding-bottom: 0;
        
    }
    #img2 {display:block;}
    #img1 {display:none}

    .img__container{
        display: flex;
        width: 100%;
        max-width: 375px;
        margin: 0;
        padding: 0;
        padding-top: 2rem;   
    
    }
    .img__container img{
        display: block;
        object-fit: cover;
        width: 100%;
        max-width: 375px;
        margin: none;
    }

    .hero{
        
        margin: none;
        padding: 1rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;
        padding-bottom: 0;
        
    }
    br{
        display: none;
    }
    .hero h1{
        padding: 0;
        padding-bottom: 2rem;
        font-size: 33px;
    }
    .hero p{
        text-align: center;
        padding: 0;
        padding-bottom: 2rem;
    }
    .hero button{
        padding: .75rem 1.5rem ;
        font-size: 16px;
        border-radius: 1em;
        margin-bottom: 2rem;
    }

    .clients{
        padding-top: 1rem;
        width: 100%;
        max-width: 375px;
        gap: 1rem;
        padding-bottom: 0;
             
    }
    .clients img{
        width: 70px;
        
    }
    .container.color__fade{   
        background-image: linear-gradient(to right, hsl(0, 0%, 8%, 0.5) 125px, rgba(0,0,0,0) 20%); 
   
    }
    
    .navbar__menu{
        padding-top: 2rem;
        margin: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;        
        justify-content:flex-start;
        align-items:flex-start;
        right: 0%;
        position: absolute;
        background:var(--almostwhite);
        height: 703px;   
        width: 250px;
        top:-1000px;
        margin-top: none;     
        
    }
    
    .navbar__menu.active{
        top:100%;
    }

    

    #mobile__menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: flex-end;
        padding-right: 1rem;
        gap: 5px;
        width: 100%;      
        max-width: 250px;
       
    }
    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
        background: var(--almostblack);
        width: 30px;
        height: 3px;
        transition: all 0.3s ease-in-out;
        
    }

    #mobile__menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile__menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile__menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar__menu:nth-child(1){
        align-items: left;
    }
    ul.nav{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-left: 1rem;
        width: 100%;
        
    }
    .navbar__action{
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        width: 100%;
        max-width: 100%;
        font-size: 16px;
        padding-left: 0;
    }

    #btn__register{
        padding:.7rem 4rem .7rem 4rem ;
        border-radius: 1em;
        border-color: var(--mediumgrey);
        
    }

    .features__container{
        padding: 0rem;
        align-items: center;
        background: transparent;
        border: none;
        box-shadow: none;
        margin-top: none;
        position: absolute;
        margin-right: .7rem;
        left:3vh; 
        gap:1rem;      
        transform: scaleY(0);                
    }
   
    .features__container ul{
        padding-top: 1rem;
        
       
    }
    .features__container li{
        padding-bottom: 1rem;
        margin-right: 0;
        padding-right: 0;
    }

    #company.pad__top{
        padding-top: 10rem;

    }
    .company__container{
        padding: 0rem;
        align-items: center;
        background: transparent;
        border: none;
        box-shadow: none;
        margin-top: none;
        position: absolute;
        left:3vh;
        margin-right: 1.5rem;
        transform: scaleY(0);                
    }
    .company__container ul{
        padding-top: 1rem;
    }
    .company__container li{
        padding-bottom: 1rem;
    }
    #carrers.pad__top{
        padding-top: 8rem;

    }
}
